@media screen and (max-width: 768px) {

    .header-container {
        padding-right: 5%;
    }
    .main-page h2 {
        font-size: 50px;
    }
    .container-photos {
        display: block;
    }
    .photos {
        margin-left: 0;
        display: block;
    }
    .subscribe {
        text-align: center;
    }
    .tours {
        display: none;
    }
    .form-text {
        margin-left: 5%;
        margin-right: 2%;
    }
    .comments-img {
        display: none;
    }
    .comments-text {
        text-align: center;
    }
    .comments-text a {
        margin-left: 0;
    }
    
}

@media screen and (max-width: 576px) {

    .main-page h2 {
        margin: 0 15px;
        text-align: center;
        font-size: 35px;
        letter-spacing: 0.5px;
        line-height: 200%;
    }
    .form-place img {
        height: 60px;
    }
    .header-nav li {
        display: none;
    }
    .main-page br {
        display: none;
    }
    .main-page p {
        margin: 15px 40px 0;
        font-size: 17px;
        text-align: center;
    }
    .net {
        margin: 50px 30px;
        
    }
    .but-video, .buttons h3 {
        display: none;
    }
    .photos {
        display: block;
        text-align: center;
    }
    .form-text h6 {
        font-size: 28px;
        margin-top: 30px;
    }
    .form-place {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .form {
        display: block;
        text-align: center;
        background-image: url();
    }
    .form-text p {
        font-size: 16px;
    } 
    .form-name {
        height: 50px;
        font-size: 1.3em;
        margin-right: 10px;
    }
    .footer {
        padding: 60px 0;
        display: block;
    }
    .footer-policy, .personal-information, .footer-logo {
        margin-left: 30px;
        padding-top: 10px;
    }
    .footer-social-networks {
        display: none;
    }
    .comments-text h1 {
        font-size: 28px;
    }
    .comments-text p {
        font-size: 16px;
        margin: 0 3% 3%;
    }
    .comments {
        margin-top: 100px;
    }
    .but-request img {
        height: 50px;
    }
    .container-buttons {
        display: flex;
        justify-content: center;
    }
    .buttons {
        display: block;
        margin: 0 0;
    }
    .photo {
        padding: 0 0;
    }
    .comments-text img {
        height: 55px;
    }
}

@media screen and (min-width: 1500px) {
    .burger {
        display: none;
    }
}