*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body{
    background-color: rgb(255, 255, 255);

    scroll-behavior: smooth;
}

/* --- Header --- */ 

.main {
    min-height: 100vh;
    background-image: url(images/imgBackground\ 1.png);
    background-size: cover;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 570px;
}

.logo {
    display: flex;
    justify-content: left;
}

.header-nav ul {
    display: flex;
    list-style: none;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header-nav li + li {
    margin-left: 50px;
}

/* --- Главная секция --- */ 

.main-page h2 {
    display: flex;
    color: white;
    margin: 45px 130px 50px;
    align-items: center;
    font-size: 70px;
    letter-spacing: 1.2px;
    line-height: 100px;
}

.main-page p {
    display: flex;
    color: white;
    margin: 10px 130px;
    align-items: center;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 50px;
    font-family: "Lato", sans-serif;
}

.buttons {
    width: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 60px 120px 20px;
}

.but-request {
    text-decoration: none;
    width: 75px;
}

.but-video{
    text-decoration: none;
    width: 75px;
    margin-left: 330px;
}

.buttons h3 {
    margin-left: 20px;
    color: #C0C0C0;
    line-height: 25px;
    font-weight: 10;
}

.photos {
    display: flex;
    margin-left: 820px;
}

.photo {
    color: #C0C0C0;
    padding: 0 20px;
}

.social-networks {
    display: flex;
    margin-left: 118px;
}

.subscribe {
    margin: 0px 130px 20px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.network {
    margin: 0 25px;
}

/* --- Секция 2 --- */ 

.tours {
    display: flex;
    margin: 150px 250px;
}

.tour {
    margin-top: 20px;
    margin-left: 110px;
}

.tour h1 {
    font-size: 38px;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
}

.tour p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}

.tour a {
    margin-left: 30px;
}

/* --- Форма обратной связи --- */

